.aboutBackground {
  background-image: url(/CalChalk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  min-height: 100vh;
}

.content {
  background-color: rgba(255,255,255,0.85);
  color: black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 0px 0px 15px black;
  text-align: left !important;
  margin-bottom: 50px;
  padding-bottom: 50px;
  padding-top: 30px;
}

.content .row {
  padding-bottom: 15px;
}

.profileImage {
  max-width: 100%;
  max-height: 100%;
}

.logo {
  max-width: 100%;
}
