.viewSpace {
  text-align: left;
  margin-left: 10px;
}

.background{
  background-image: url(/fpbackground.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-color: #6a6a73;
  min-height: 100vh;
}

.textLabel {
  font-size: 20px;
  background-repeat: no-repeat;
  font-family: Chalkduster, sans-serif;
  font-weight: bold;
  color: white;
}

.changePasswordButton {
  font-size: 28px !important;
  font-family: Chalkduster, sans-serif;
}