.viewSpace {
  text-align: left;
  margin-left: 10px;
}

.background{
  background-image: url(/CalChalk.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  background-color: #6a6a73;
  min-height: 100vh;
}

.textLabel {
  background-color:  #d38d5c;
  border-color: #80e46a;
  border-width: thin;
  border-style: solid;
}
