.calendarBackground {
  background-image: url(/CalChalk.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  border: 1px solid;
  min-height: 100vh;
  color: white;
}

.rbc-timeslot-group {
  min-height: 40px;
  display: flex;
  flex-flow: column nowrap;
}

.rbc-time-content {
  border: 0px solid #ddd !important;
}

.rbc-toolbar button {
  color: white !important;
}

.rbc-day-slot .rbc-time-slot {
  border-top: none !important;
  border-bottom: none !important;
}
  
.rbc-today {
  background-color: rgba(140, 227, 118, 0.5) !important;

}

.rbc-current-time-indicator {
  background-color: #fff !important;
  height: 2px !important;
}