.background_CA {
  background-image: url(/fpbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  border: 1px solid;
  min-height: 100vh;
}

.button {
  display: inline-block;
  width: 20%;
  height: 60px;
  border: 2px solid #bdbdbd;
  border-radius: 5px;
  box-shadow: 10px 5px 10px black;
  background-color: #828481;
  background-repeat: no-repeat;
  color: white;
}

.textInput {
  text-align: left;
  font-size: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  box-shadow: 10px 5px 10px black;
  background-repeat: no-repeat;
  font-family: Chalkduster, sans-serif;
}

.fileInput {
  text-align: left;
  border-radius: 5px;
  font-family: Chalkduster, sans-serif;
}

.password_CA {
  width: 28%;
  text-align: left;
  font-size: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 33px 11px 10px 30px;
  box-shadow: 10px 5px 10px black;
  background-position: -73px -41px;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: Chalkduster, sans-serif;
}

.textInput_role {
  font-size: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  box-shadow: 10px 5px 10px black;
  background-repeat: no-repeat;
  font-family: Chalkduster, sans-serif;
}

.chooseFileButton_Login {
  color:#ffffff;
 	font-size:64px;
  font-family: Chalkduster, sans-serif;
}

.Button_CA {
  font-size: 28px !important;
  font-family: Chalkduster, sans-serif;
}
