.background1 {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
}

.header {
  text-align: center;
  width: 100%;
}

.banner {
  max-width: 100%;
}

.background_CA {
  background-image: url(/createaccountbackground.jpg);
  background-color: blue;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
  background-color: #936939;
  background-position: cover;
  background-attachment: fixed;
}

.button {
  display: inline-block;
  width: 20%;
  height: 60px;

  border: 2px solid #bdbdbd;
  border-radius: 5px;

  box-shadow: 10px 5px 10px black;

  background-color: #828481;
  background-repeat: no-repeat;
  color: white;
}

.firstName {
  width: 28%;
  text-align: left;
  font-size: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 33px 11px 10px 30px;
  box-shadow: 10px 5px 10px black;
  background-repeat: no-repeat;

  margin-top: 3%;
  margin-right: 1%;
}

.lastName {
  width: 28%;
  text-align: left;
  font-size: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 33px 11px 10px 30px;
  box-shadow: 10px 5px 10px black;
  background-position: -73px -41px;
  background-size: 100%;
  background-repeat: no-repeat;

  margin-right: 1%;
  margin-top: 50px;
}

.email {
  width: 28%;
  text-align: left;
  font-size: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 33px 11px 10px 30px;
  box-shadow: 10px 5px 10px black;
  background-position: -73px -41px;
  background-size: 100%;
  background-repeat: no-repeat;

  margin-right: 1%;
  margin-top: 50px;
}

.preferredName {
  width: 28%;
  text-align: left;
  font-size: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 33px 11px 10px 30px;
  box-shadow: 10px 5px 10px black;
  background-position: -73px -41px;
  background-size: 100%;
  background-repeat: no-repeat;

  margin-right: 1%;
  margin-top: 50px;
}

.birthday {
  width: 28%;
  text-align: left;
  font-size: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 33px 11px 10px 30px;
  box-shadow: 10px 5px 10px black;
  background-position: -73px -41px;
  background-size: 100%;
  background-repeat: no-repeat;

  margin-right: 1%;
  margin-top: 50px;
}

.password_CA {
  width: 28%;
  text-align: left;
  font-size: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 33px 11px 10px 30px;
  box-shadow: 10px 5px 10px black;
  background-position: -73px -41px;
  background-size: 100%;
  background-repeat: no-repeat;

  margin-right: 1%;
  margin-top: 50px;
}

.Submit_CA {
  display: inline-block;
  width: 56%;
  height: 63px;

  border: 1px solid #bdbdbd;
  border-radius: 5px;

  box-shadow: 10px 5px 10px black;
  background-image: url(/createaccountbutton.jpg);
  background-position: 0px;
  background-size: 100%;
  background-color: #828481;
  background-repeat: no-repeat;

  margin-top: 50px;
}
