.container {
  text-align: center;
}

.background_FP {
  background-image: url(/fpbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  border: 1px solid;
  min-height: 100vh;
}

.forgotPasswordInput {
  text-align: left;
  font-size: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  box-shadow: 10px 5px 10px black;
  background-color: white;
}

.Submit_FP {
  width: 162px;
  height: 63px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  box-shadow: 10px 5px 10px black;
  background-image: url(/enter.png);
  background-position: -73px -42px;
  background-size: 290%;
  background-repeat: no-repeat;
}
