.header {
  text-align: center;
  width: 100%;
}

.background_LP {
  background-image: url(/LandingBG.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border: 1px solid;
  min-height: 100vh;
  background-color: white;
}

.header_lp {
  color: white;
  width: 100%;
  text-shadow: 2px 2px black;
  margin-top: -40px;
  -webkit-text-stroke: 1px black;
}

.box1_lp {
  background-color: #5da843;
  border: 0px solid #448e13;
}

.box2_lp {
  background-color: #672531;
  border: 0px solid #8e133f;
}

.box3_lp {
  background-color: #d6933a;
  border: 0px solid #8e6a14;
}

.box4_lp {
  background-color: #0659b5;
  border: 0px solid #136690;
}

.infoBox {
  margin-top: 500px;
  color: white;
}

.subtitle {
  color: #a0df76;
}
.imageIcons {
  width: 75px;
}

.whiteSpace {
  background-color: white;

  width: 100vw;
  margin-left: -20px;
}

.offerText {
  margin-top: 100px;
}
.calImage {
  width: 500px;
}
