.container {
  text-align: center;
}

.background_login {
  background-image: url(/Recess_Bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  border: 1px solid;
  min-height: 100vh;
}

.fancy-inputs{
  float: left;
  width: 100%;
  margin: 0 0 50px 0;
  label.input{
    float: left;
    width: 460px;
    height: 42px;
    margin: 50px 0 0 0;
    position: relative;
    clear: both;
    span{
      width: 100%;
      height: 40px;
      line-height: 40px;
      position: absolute;
      left: 0;
      cursor: text;
      span{
        position: absolute;
        top: 0;
        z-index: 1;
        font-family: 'Indie Flower', cursive;
        font-size: 22px;
        color: #fff;
        text-indent: 10px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
      }
      &:before{
        content: '';
        width: 0%;
        height: 3px;
        background-color: #2C3E50;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 99;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
      }
      &:after{
        content: '';
        width: 0%;
        height: 3px;
        background-color: #2C3E50;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 99;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
      }
    }
  }
}

.login {
  text-align: left;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  box-shadow: 10px 5px 10px black;
  font-size: 36px;
  font-family: Chalkduster, sans-serif;
  font-weight: bold;
  color: black;
}

.forgotPassword {
  color: white;
  text-shadow: 1px 2px black;
  font-size: 36px;
  font-family: Chalkduster, sans-serif;
  font-weight: bold;
}

.Submit_Login {
  color:#ffffff;
 	font-size:64px;
  font-family: Chalkduster, sans-serif;
}
