.container {
  text-align: center;
}

.background {
  background-image: url(/Recess_Login2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  border: 1px solid;
  min-height: 100vh;
}

.username {
  width: 400px;
  text-align: right;
  font-size: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 33px 11px 10px 30px;
  text-align: right;
  box-shadow: 10px 5px 10px black;
  background-image: url(/username.png);
  background-position: -73px -41px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-left: 50px;
  margin-top: 25%;
  margin-left: 3%;
  margin-right: 27%;
}

.password {
  width: 400px;
  text-align: right;
  font-size: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 33px 11px 10px 30px;
  text-align: right;
  box-shadow: 10px 5px 10px black;
  background-image: url(/password.png);
  background-position: -73px -41px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-left: 50px;
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 27%;
}

.forgotPassword {
  color: white;
  text-shadow: 1px 2px black;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  padding-left: 50px;
  margin-top: 5%; 
  margin-left: 3%;
  margin-right: 27%;
}

.Submit_Login {
  display: inline-block;
  width: 162px;
  height: 63px;

  border: 1px solid #bdbdbd;
  border-radius: 5px;

  box-shadow: 10px 5px 10px black;
  background-image: url(/enter.png);
  background-position: -73px -41px;
  background-size: 290%;
  background-repeat: no-repeat;

  margin-top: 5%;
  margin-left: 7%;
  margin-right: 27%;
}
