.container {
  text-align: center;
}

.background {
  background-image: url(/Recess_Bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  border: 1px solid;
  min-height: 100vh;
}

.username {
  text-align: right;
  font-size: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  box-shadow: 10px 5px 10px black;
  background-image: url(/username.png);
  background-position: -75px -42px;
  background-repeat: no-repeat;
}

.password {
  text-align: right;
  font-size: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  box-shadow: 10px 5px 10px black;
  background-image: url(/password.png);
  background-position: -75px -42px;
  background-repeat: no-repeat;
}

.forgotPassword {
  color: white;
  text-shadow: 1px 2px black;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.Submit_Login {
  width: 162px;
  height: 63px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  box-shadow: 10px 5px 10px black;
  background-image: url(/enter.png);
  background-position: -75px -42px;
  background-size: 290%;
  background-repeat: no-repeat;
}
