.menuBar{
    position: fixed;
    width: 100%;
}

#bar {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
    list-style: none; 
    background-color: white;
}

#bar left {
    float: left; 
}

#bar right {
    float: right; 
}

#bar left a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color:#d38d5c;
    border-right: 1px solid #80e46a; 
}
#bar right a {
    display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color:#d38d5c;
    border-right: 1px solid #80e46a; 
}