.viewSpace {
  text-align: left;
  margin-left: 10px;
}

.backgroundViewEvent {
  background-image: url(../Resources/background.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-color: #6a6a73;
  min-height: 100vh;
}

.pageTitle {
  width: 100%;
  font-size: 64pt;
  margin-top: 2%;
  color:  #d38d5c;
}

.rowStyle {
  background-color:  #d38d5c;
  border-color: #80e46a;
  border-width: thin;
  border-style: solid;
  margin-top: 3%;
}

