.backgroundRosterPage {
  background-image: url(/fpbackground.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-color: #6a6a73;
  min-height: 100vh;
}

.addTeacherHeading {
  background-repeat: no-repeat;
  font-family: Chalkduster, sans-serif;
  font-weight: bold;
  color: white;
}

.teacherMenu {
  background-repeat: no-repeat;
  font-family: Chalkduster, sans-serif;
  font-weight: bold;
  color: white;
}

.dropdownScroll {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.teacherField {
  opacity: 0.8;
  background-repeat: no-repeat;
  font-family: Chalkduster, sans-serif;
  font-weight: bold;
  color: white;
}

.addStudentHeading {
  background-repeat: no-repeat;
  font-family: Chalkduster, sans-serif;
  font-weight: bold;
  color: white;
}

.studentMenu {
  background-repeat: no-repeat;
  font-family: Chalkduster, sans-serif;
  font-weight: bold;
  color: white;
}

.studentField {
  opacity: 0.8;
  background-repeat: no-repeat;
  font-family: Chalkduster, sans-serif;
  font-weight: bold;
  color: white;
}

.inputBox {
  text-align: center;
  background-repeat: no-repeat;
  font-family: Chalkduster, sans-serif;
  font-weight: bold;
  color: white;
}

.flex {
  display: flex;
  flex-direction: row;
}

.xButton {
  width: 30px;
}

.txtInputButton {
  background-repeat: no-repeat;
  font-family: Chalkduster, sans-serif;
  font-weight: bold;
  color: white;
}

input[type="text"] {
  background-color: #dedee6;
  border: 0px;
}

.textLabelRosterPage {
  font-size: 20px;
  background-repeat: no-repeat;
  font-family: Chalkduster, sans-serif;
  font-weight: bold;
  color: white;
}

.createRosterButton {
  font-size: 28px !important;
  font-family: Chalkduster, sans-serif;
}