.background1 {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
}

.background {
  background-image: url(/Recess_Login2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-color: #6a6a73;
  background-attachment: fixed;
}

.username2 {
  position: fixed;
  bottom: 500px;
  left: 175px;
  text-align: left;
  width: 30%;
  height: 20px;
}

.username {
  width: 400px;
  text-align: right;
  font-size: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 33px 11px 10px 30px;
  text-align: right;
  box-shadow: 10px 5px 10px black;
  background-image: url(/username.png);
  background-position: -73px -41px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-left: 50px;
  margin-top: 25%;
  margin-left: 3%;
  margin-right: 27%;
}

.password {
  width: 400px;
  text-align: right;
  font-size: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 33px 11px 10px 30px;
  text-align: right;
  box-shadow: 10px 5px 10px black;
  background-image: url(/password.png);
  background-position: -73px -41px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-left: 50px;
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 27%;
}

.forgotPassword {
  color: white;
  text-shadow: 1px 2px black;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  position: absolute;
  /*left: 435px;
  top: 580px;*/
  padding-left: 50px;
  margin-top: 5%;
  margin-left: -23%;
  margin-right: 27%;
}

.Submit {
  display: inline-block;
  width: 162px;
  height: 63px;

  border: 1px solid #bdbdbd;
  border-radius: 5px;

  box-shadow: 10px 5px 10px black;
  background-image: url(/enter.png);
  background-position: -73px -41px;
  background-size: 290%;
  background-repeat: no-repeat;

  margin-top: 5%;
  margin-left: 7%;
  margin-right: 27%;
}
